<div class="page-title w-100 text-center mb-2">Korábbi kölcsönzések részletei</div>

<span *ngIf="lendings.length">
    <div *ngFor="let lending of lendings" class="row mb-4 pb-2 border-bottom border-secondary">
        <div class="col-lg-6">
            <table class="table mt-3">
                <tbody>
                <tr>
                    <th>Szállítási azonosító</th>
                    <td>{{lending.shipping_token}}</td>
                </tr>
                <tr>
                    <th>Csomagküldés időpontja:</th>
                    <td>{{lending.created_at?.substring(0, 10)}}</td>
                </tr>
                <tr>
                    <th>Szállítási cím:</th>
                    <td>{{lending.user?.active_shipping_address?.zip_code}}
                        {{lending.user?.active_shipping_address?.city}},
                        {{lending.user?.active_shipping_address?.address}}</td>
                </tr>
                <tr>
                    <th>Előfizetés típusa:</th>
                    <td>{{lending.user?.subscription_type?.description}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <mat-card *ngFor="let book of lending.books" class="mb-2">
                <mat-card-header>
                    <mat-card-subtitle>
                                    <span *ngFor="let author of book.authors; index as i; first as isFirst">
                                        <span *ngIf="!isFirst">, </span>{{author.name}}
                                    </span>
                    </mat-card-subtitle>
                    <mat-card-title>{{book.title}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Kiadó/kiadás éve</th>
                            <td>{{book.publisher.name}} / {{book.published}}</td>
                        </tr>
                        </tbody>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</span>
<div *ngIf="!lendings.length && isDone"><strong>Jelenleg nincs megjeleníthető adat.</strong></div>
