<div class="received-packages-work-panel">
    <div class="row content mb-4 mt-0 p-0">
        <div class="header mb-3">
            <span class="title">{{ lendingData.user?.name }} / {{lendingData.shipping_token}}</span>
            <span class="close" (click)="close()"></span>
        </div>
        <div class="col-lg-6">
            <!-- Foglalás adatai: shipping_token, created_at, created_by.name-->
            <div class="__title">Foglalás adatai</div>
            <table class="table">
                <tbody>
                <tr>
                    <th>Szállítási azonosító</th>
                    <td>{{lendingData.shipping_token}}</td>
                </tr>
                <tr>
                    <th>Létrehozva</th>
                    <td>{{lendingData.created_at.substring(0, 10)}}</td>
                </tr>
                <tr>
                    <th>Létrehozta</th>
                    <td>{{lendingData.created_by?.name}}</td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <div class="__title">Felhasználó adatai</div>
            <table class="table">
                <tbody>
                <tr>
                    <th>Név</th>
                    <td>{{lendingData.user?.name}}</td>
                </tr>
                <tr>
                    <th>Email cím</th>
                    <td>{{lendingData.user?.email}}</td>
                </tr>
                <tr>
                    <th>Szállítási cím</th>
                    <td>
                        <strong>irányítószám:</strong> {{lendingData.user?.active_shipping_address.zip_code}}<br>
                        <strong>település:</strong> {{lendingData.user?.active_shipping_address.city}}<br>
                        <strong>cím:</strong> {{lendingData.user?.active_shipping_address.address}}
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="row content">
        <div class="__title">Könyvek adatai</div>
        <div *ngFor="let book of lendingData.books" class="col-md-12 col-lg-6 my-1" [ngClass]="checkedBookSet.includes(book.id) ? 'opacity-50' : ''">
            <mat-card>
                <span class="d-flex align-items-center justify-content-between pe-3">
                    <mat-card-header>
                        <mat-card-subtitle>
                                    <span *ngFor="let author of book.authors; index as i; first as isFirst">
                                        <span *ngIf="!isFirst">, </span>{{author.name}}
                                    </span>
                        </mat-card-subtitle>
                        <mat-card-title>{{book.title}}</mat-card-title>
                    </mat-card-header>
                    <span class="d-flex align-items-center">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <button mat-raised-button (click)="increaseBookAvailableNumber(book.id)" color="accent" class="text-white me-3" [disabled]="checkedBookSet.includes(book.id)">
                                Visszavételezés
                            </button>
                        </div>

                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <button mat-raised-button (click)="bookScrapping(book.id)" color="warn" class="text-white" [disabled]="checkedBookSet.includes(book.id)">
                                Selejtezés
                            </button>
                        </div>
                    </span>

                </span>
                <mat-card-content>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Kiadó/kiadás éve</th>
                            <td>{{book.publisher.name}}/{{book.published}}</td>
                        </tr>
                        <tr>
                            <th>ISBN</th>
                            <td>{{book.isbn_code}}</td>
                        </tr>
                        <tr>
                            <th>Teljes állomány</th>
                            <td>{{book.in_stock}} db.</td>
                        </tr>
                        <tr>
                            <th>Elérhető mennyiség</th>
                            <td>{{book.available}} db.</td>
                        </tr>
                        </tbody>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div *ngIf="showIsDone" class="__is-done-button mt-5">
        <button mat-raised-button (click)="isDone()" color="primary" class="text-white mb-3">
            Beérkezett csomag visszavételezve
        </button>
    </div>
</div>
